@page
@model FStore.Pages.LoginPageModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>

    <form method="POST">
        <p>
            <label>Email</label>
            <input type="text" name="Email" /> <br />
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="Password" />
        </p>
        <button type="submit" name="btnLogin">Login</button>
    </form>
</div>

